In [35]:
import pandas as pd
from sklearn.linear_model import LinearRegression

train_data_path = pd.read_csv('train.csv')
test_data_path = pd.read_csv('test.csv')

X_train = train_data_path.drop(
    'Transported',
    axis=1
)
y_train = train_data_path['Transported']

X_train_encoded = pd.get_dummies(X_train)
X_test_encoded = pd.get_dummies(test_data_path)

X_train_dropna = X_train_encoded.dropna(axis=1)
X_test_dropna = X_test_encoded.dropna(axis=1)

X_train_dropna, X_test_dropna = X_train_dropna.align(
    X_test_dropna, 
    join='inner', 
    axis=1
)

model = LinearRegression()
model.fit(X_train_dropna, y_train)

y_prediction = model.predict(X_test_dropna)

id_column = test_data_path['PassengerId']
predictions = pd.DataFrame({
    'PassengerId': id_column, 
    'Transported': y_prediction
})

threshold = 0.5
predictions['Transported'] = predictions['Transported'].apply(lambda x: True if x > threshold else False)

predictions.to_csv(
    'predictions.csv', index = False
)

In [29]:
test_data_path

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley